.book{
	width: 150px;
	float: left;
	font-size: 0.8em;
}
.book a{
	color: #000000;
	text-decoration: none;
}
.book .author{
	color:#aaaaaa;
	display: block;
}
.book .price{
	color: #ff0000;
	display: block;
}
.clear{
	clear: both;
}
