h1,h2,h3{ font-weight: normal;}
#main-navigation {
    background: #222730;
}
.main-menu > li > a {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 18px 30px 18px 30px;
}
#current {
	background-color: #1AC4E2;
	color: #fff;
    margin-left: 0px;
    padding-left: 30px;
    z-index: 8;
    position: relative;
}
.main-menu > li:hover > a {
    color: #1AC4E2;
    padding-left: 30px;
    margin: 0 0 0 0px;
}
.main-menu li:last-child a {
    border-right: 1px solid #222730;
}
.main-menu li a {
    border-left: 1px solid #222730;
}
.ls_large_text_02{ color: #FFFFFF;
}
#copyrights {
    width: 100%;
    padding: 30px 0 10px 0;
    float: left;
    position: relative;
    background: #232730;
    height: auto;
    color: #999999;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.10);
}
#copyrights a{
    color: #999999;
}
.feature-block-title h4 .service-case-link{ color: #404040;}
.feature-block-title h4 .service-case-link:hover{ color: #1AC4E2;}

.no-shop{height: 400px; margin-top: 100px;}
.no-shop h1{text-align: center; margin-top: 30px;}
.service-item {
    text-align: center;
    padding: 20px;
    height: 20%;
    border: 1px solid #e6e9ee;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*登录*/
.login_bigbox{ padding-top: 12%;}
.login_box{ width: 480px; height: 400px; background-color: rgba(255,255,255,0.1)/* rgba(43,171,207,0.6)*/; margin-left: auto; margin-right: auto; box-shadow: 0px 10px 35px 0px rgba(8, 20, 23, 0.2);}
.login_box .login_center{ padding:30px 50px 0 50px;}
.login_box .login_center h1{ color: #FFFFFF; font-size: 28px;}
.login_center .login_user input{height:28px; width:328px; font-size: 14px; border-radius:0px ; border: 1px solid #FFFFFF;background-color: rgba(43,171,207,0);
background: url(../images/user_01.png) no-repeat; background-size:26px ; background-position: 6px 7px; padding-left: 40px; color: #FFFFFF;}
.login_center .login_password input{height:28px; width:328px; font-size: 14px; border-radius:0px ; border: 1px solid #FFFFFF;background-color: rgba(43,171,207,0);
background: url(../images/password_01.png) no-repeat; background-size:26px ;background-position: 6px 7px; padding-left: 40px;color: #FFFFFF;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #ffffff; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #ffffff;
}

.login_center .login_user input:-ms-input-placeholder,
.login_center .login_password input:-ms-input-placeholder,
.login_center .login_phone input:-ms-input-placeholder,
.login_center .login_test input:-ms-input-placeholder{
color: #ffffff;
}

.login_center .login_user input::-webkit-input-placeholder,
.login_center .login_password input::-webkit-input-placeholder,
.login_center .login_phone input::-webkit-input-placeholder,
.login_center .login_test input::-webkit-input-placeholder{
color:#ffffff;
}
.login_center .login_user{ margin-top: 26px; width: 100%;} 
.login_remb_fog{ margin-top: 18px;}
.login_remb{ float: left; position: relative;}
.login_remb input{ float: left; width: 16px; height: 16px; margin-top: 2px;}
.login_remb label{ float: left; color: #FFFFFF;  font-size:12px; margin-left: 10px;}
.login_fogs{ float: right;}
.login_fogs a{  color: #FFFFFF;font-size:12px;}
.login_btn{ width: 100%; margin-top: 36px;}
.login_btn button{cursor: pointer; width: 100%; border:none; font-size: 18px; color: #FFFFFF; background-color:#2babcf; padding-top: 12px; padding-bottom: 12px;}
.login_center h3 { text-align: center; margin-top: 6px;}
.login_center h3 a{ font-size: 14px; color: #FFFFFF;}


/*注册*/
.signin_bigbox{ padding-top: 8%;}
.signin_box{ width: 480px; height: 520px; background-color: rgba(255,255,255,0.1)/*rgba(43,171,207,0.6)*/; margin-left: auto; margin-right: auto; box-shadow: 0px 10px 35px 0px rgba(8, 20, 23, 0.2);}
.signin_box .login_center{padding:30px 50px 0 50px}
.signin_box .login_center h1{ color: #FFFFFF; font-size: 28px;}
.login_center .login_phone input{height:28px; width:328px; font-size: 14px; border-radius:0px ; border: 1px solid #FFFFFF;background-color: rgba(43,171,207,0);
background: url(../images/phone_01.png) no-repeat; background-size:28px ;background-position: 6px 6px; padding-left: 40px;color: #FFFFFF;}
.login_center .login_test input{height:28px; width:238px; font-size: 14px; border-radius:0px ; border: 1px solid #FFFFFF;background-color: rgba(43,171,207,0);color: #FFFFFF; float: left;}
.login_center .login_test .password_code{height:44px; width:120px; font-size: 14px; border-radius:0px ; border: 1px solid #FFFFFF;background-color: rgba(43,171,207,0);color: #FFFFFF; float: left; border-left:none ;}
.login_center .login_password,.login_center .login_phone,.login_center .login_test{ margin-top: 36px;}

