 legend: {
        data:['商品的进货价','商品的销售价']
    },
    xAxis : [
        {
            type : 'category',
            data : []
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'进货价',
            type:'bar',
            data:[39,89,29,19,99,89,89,52,39,89,88],
        },
        {
            name:'销售价',
            type:'bar',
            data:[70,100,50,71,69,10,100,68,59,189,88],
        }
    ]