* {
margin: 0px; padding: 0px;
}
html {margin: 0px; padding: 0px; border: currentColor; border-image: none;}
body {background: rgb(255, 255, 255);font-family: "宋体"; font-size: 12px; min-height: 500px; min-width: 1024px;}
a {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
a:focus {
text-decoration: none;
}
a img {
border: currentColor; border-image: none;
}
a:focus {

}
ul {
list-style: none;
}
li {
list-style: none;
}
img {
border: currentColor; border-image: none; display: inline;
}
input {
resize: none;
}
textarea {
resize: none;
}
div {
resize: none;
}
input::-ms-clear {
display: none;
}
.clear {
clear: both;
}
/*右上工具栏*/
.alright_top_rt {
    height: 33px;
    margin-top: 7px;
    margin-right:11px;
    position: fixed;
    z-index: 1000;
    background: #fff;
    right:0;
}
.alright_top_rt li {
    letter-spacing: 1px;
    float: left;
    display: inline;
}
.tool {
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor;
    padding: 3px 0px;
    margin: 6px 0;
    border-image: none;
    width: 84px;
    position: relative;
    z-index: 1301;
}
.toolbg {
    height: 14px;
    padding-left: 1px;
    margin-left: 13px;
    float: left;
    display: block;
    font-size: 13px;
}
.rang_more {
    background: url(../images/mainImage.png) no-repeat -20px -61px;
    margin: 5px 0px 0px 5px;
    width: 7px;
    height: 5px;
    float: left;
    display: block;
}
.tool ul {
    background: rgb(255, 255, 255);
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: currentColor rgb(229, 229, 229) rgb(229, 229, 229);
    border-image: none;
    left: -1px;
    top: 26px;
    width: 85px;
    position: absolute;
    z-index: 1300;
}
.publine {
    background: #eeeeee;
    width: 1px;
    height: 21px;
    margin-top: 6px;
}
.tool ul a {
    margin: 0px 3px 0px 5px;
    height: 18px;
    color: rgb(39, 116, 201);
    padding-bottom: 5px;
    padding-left: 12px;
    display: block;
}
.alright_top_rt li a {
    color: rgb(0, 0, 0);
}
.delete {
    padding: 3px 1px;
    margin: 6px 0;
    border: 1px solid rgb(255, 255, 255);
    border-image: none;
    width: 71px;
    cursor: pointer;
}
.deletebg {
    height: 14px;
    margin-left: 14px;
    display: block;
}
.dellabel {
    background: url(../images/indexImage.png) no-repeat -111px -133px;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    float: left;
}
.screen {
    padding: 3px 1px;
    margin: 6px 0;
    border: 1px solid rgb(255, 255, 255);
    border-image: none;
    width: 71px;
    cursor: pointer;
}
.screenbg {
    height: 14px;
    padding-left: 1px;
    margin-left: 13px;
    display: block;
}
.scrlabel {
    background: url(../images/indexImage.png) no-repeat -129px -132px;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    float: left;
}

/*地图工具*/
.toollabel {
background: url("../images/indexImage.png") no-repeat -94px -133px; width: 14px; height: 14px; margin-right: 6px; float: left;
}
.toolcllabel{
background: url("../images/indexImage.png") no-repeat -184px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.toolcmlabel{
background: url("../images/indexImage.png") no-repeat -168px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.toolbdlabel{
background: url("../images/indexImage.png") no-repeat -76px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;	
}
.toolbxlabel{
background: url("../images/indexImage.png") no-repeat -148px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;	
}
.toolbmlabel {
background: url("../images/indexImage.png") no-repeat -201px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.tooldsxlabel {
background: url("../images/indexImage.png") no-repeat -61px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.toolfxlabel {
background: url("../images/indexImage.png") no-repeat -222px -132px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.tooldylabel {
background: url("../images/indexImage.png") no-repeat -241px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
.toolprolabel {
background: url("../images/indexImage.png") no-repeat -280px -133px; width: 14px; height: 14px; margin-right: 4px; float: left;
}
/*工具栏下面的图层*/
.layers_nav{
	position: fixed;
    z-index: 500;
    right: 11px;
    top: 50px;
    float: right;
}
.layer_house,.layer_land,.layer_population{
	float: left;
	display: inline-block;
	width: 49px;
	height: 50px;
	border: 1px solid #169bd5;
	line-height: 50px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	color:#000000;
}
.layer_house,.layer_land{
	margin-right: 1px;
}
.layer_land{
	position: relative;
}
span.layer_name{
	font-weight: bold;
}
.layer_li_selected{
	border: 1px solid #ff0000;
	color:#169bd5;
}
.layer_land_maps{
	position: absolute;
	z-index: 480;
	margin-left: -1px;
	margin-top: 1px;
}
.layer_land_maps_name{
	font-weight: 400;
}
.earth_map,.planner{
	width: 49px;
	height: 31px;
	text-align: center;
	line-height: 31px;
	border-left: 1px solid #797979;
	border-right: 1px solid #797979;
	border-bottom: 1px solid #797979;
	color: #333333;
	background: #fff;
}
/*搜索框*/
.searchbox,.searchbox_nav,.searchbox_condition,.btns,.result{
	left:5px;
	z-index:500;
	position: fixed;
}
.searchbox{
	position: fixed;
	top:7px;
	background: #797978;
	height: 93px;
	width:400px;
	opacity: 0.9;
	-moz-box-shadow: -10px 10px 5px #b8b7b3;
	box-shadow: -10px 10px 5px #b8b7b3;
}
/*logo*/
.logo>span{
	color:#fff;
	margin-top: 12px;
	margin-left: 44px;
	display: block;
	font-weight: bold;
}
/*搜索区域*/
.searchbox_area {
	float: left;
    display: inline;
    margin-left: 12px;
    margin-top: 23px;
    opacity: 1;
}
.search_left {
    width: 313px;
    float: left;
    display: inline;
    background: #fff;
}
.search_txtleft {
    border: 0px;
    border-image: none;
    width: 313px;
    height: 23px;
    line-height: 25px;
    margin-top: 2px;
    float: left;
    display: inline;
    padding-left: 3px;
}
.search_rt {
    float: left;
    display: inline;
    width: 69px;
    height: 25px;
    cursor: pointer;
    background: #169bd5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search_input {
    background: url(../images/bg-icon.png) no-repeat 26px 2px;
    width: 65px;
    height: 25px;
    border: 0px;
    cursor: pointer;
}
/*nav*/
.searchbox_nav{
	top:100px;
	width:400px;
	height:21px;
	background: #fff;
	text-align: center;
	line-height: 21px;
}
.searchbox_nav_off,.searchbox_nav_show{
	display: inline-block;
	width: 15px;
    height: 21px;
    cursor: pointer;
}
.searchbox_nav_off{
	background: url(../images/bg-icon.png) no-repeat 1px -53px;
}
.searchbox_nav_show{
	background: url(../images/bg-icon.png) no-repeat -13px -53px;
}
/*搜索条件*/
.searchbox_condition{
	top: 121px;
	height: 393px;
	width: 400px;
	overflow: auto;
	background: #fff;
	z-index: 1010;
}
.condition{
	padding: 6px 10px 0 6px;
}
.condition_title{
	font-weight:bold;
	padding-bottom: 10px;
}
.condition_icon{
	float: left;
    margin-right: 9px;
    margin-top: -3px;
	display: inline-block;
	width:13px;
	height:16px;
	background: url(../images/indexImage.png) no-repeat -76px -130px;
}
/*具体行列样式*/
.small_line,.normal_line,.sbig_line,.big_line{
	height:26px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	float:left;
	margin-right: 3px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 26px;
	cursor:pointer;
}
.small_line{
	width:68px;
}
.normal_line{
	width:84px;
}
.sbig_line{
	width:116px;
}
.big_line{
	width:141px;
}
.line_selected{
	border: 1px solid #169bd5;
}
.set_input{
	width:46px;
	height:24px;
	margin:0 5px 0 5px;
}
.kfs_set_input{
}
/*按钮组*/
.btns{
	top: 514px;
	z-index: 1010;
}
.clear_btn,.sure_btn{
	width: 200px;
	height: 40px;
	text-align:center;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
}
.clear_btn{
	color:#1e1e1e;
	background: #f2f2f2;
}
.sure_btn{
	color:#fff;
	background:#169bd5;
}
/*查询结果*/
.result{
	top: 121px;
	width: 383px;
	background: #fff;
	height: 435px;
	padding: 3px 5px 18px 12px;
	z-index: 1010;
}
/*到航条*/
.result_nav{
	height: 40px;
	width: 383px;
	overflow: hidden;
}
.result_nav>span{
	display: inline-block;
    font-weight: bold;
    padding-top: 12px;
}
.count{
	width: 93px;
	height: 32px;
	background: #ff3333;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	float: right;
	color: #fff;
	/*font-size: 17px;*/
}
/*结果显示*/
.result_show{
	overflow: auto;
	height: 360px;
}
.result_item{
	margin-top: 8px;
}
.result_img{
	float: left
}
.resultImg{
	width:132px;
	height: 87px;
	margin-right: 4px;
}
/*右*/
.result_content{
	float: left;
}
/*列1*/
.result_content_col1{
	font-weight:bold;
	margin-top: 6px;
}
.result_content_col_icon{
	float: left;
    margin-right: 6px;
	display: inline-block;
	width:13px;
	height:16px;
	background: url(../images/marker1.png);
	background-size:13px 16px;
	-moz-background-size:13px 16px;
}
/*列2*/
.result_content_col2{
	margin-top:12px;
	margin-left: 3px;
	font-weight: 600;
}
.col2_span{

}
.col2_p{
	display: inline-block;
}
/*列3*/
.result_content_col3{
	margin-top:16px;
	margin-left: 3px;
	color:#ff0000;
	font-weight: bold;
	letter-spacing:2px;
}
/*页码栏*/
.pages{
	margin-top: 22px;
	margin-left:75px;
}
.page_item_small,.page_item_big{
	border: 1px solid #797979;
	text-align: center;
	height: 22px;
	line-height: 22px;
	color:#333333;
	float: left;
	margin-right: 1px;
	cursor: pointer;
}
.page_item_small{
	width:22px;
}
.page_item_big{
	width: 47px;
}
/*统计*/
.statistics{
	top: 10%;
	left: 30%;
	width: 586px;
	height: 519px;
	border: 1px solid #f2f2f2;
	background: #fff;
	z-index: 1010;
	position: fixed;
	padding:18px 26px 12px 26px;
}
/*删除*/
.delete_icon{
	display: inline-block;
	background: url(../images/close.png);
	width:28px;
	height: 28px;
	position:absolute;
	right: -14px;
    top: -14px;
}
/*统计项*/
.statistics_items{
	height: 437px;
	overflow: auto;
}
.stat_item{
	padding: 6px 10px 0 6px;
}
.stat_title{
	font-weight:bold;
	padding-bottom: 10px;
	display: inline-block;
}
.stat_icon{
	float: left;
    margin-right: 9px;
    margin-top: -3px;
	display: inline-block;
	width:16px;
	height:18px;
	background: url(../images/analysis.png);
	background-size:16px 18px;
	-moz-background-size:16px 18px;
}
.custom{
	width: 116px;
	height: 24px;
	background: #fff;
	border: 1px solid #169bd5;
	color:#169bd5;
	text-align: center;
	line-height: 24px;
	border-radius: 3px;
	margin-left: 15%;
	display: inline-block;
	cursor: pointer;
}
.add_distance{
	margin-left: 17.1%;
}
/*提交按钮*/
.submit_btn{
	width:140px;
	height: 40px;
	background:#169bd5;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-top: 42px;
	border-radius: 10px;
	margin-left: 205px;
}
/*自定义管理*/
/*自定义面积段管理*/
.user_manage_area{
	position: fixed;
	top: 5%;
	z-index: 1300;
	left: 35%;
	width: 546px;
	height: 261px;
	border: 1px solid #f2f2f2;
	padding:14px 23px 10px 15px;
	background: #fff;
}
/*头*/
.set_area_title{
	font-weight:bold;
}
.set_area_icon{
	float: left;
    margin-right: 7px;
    margin-top: -3px;
	display: inline-block;
	width:18px;
	height:16px;
	background: url(../images/qjtb.png);
	background-size:18px 16px;
	-moz-background-size:18px 16px;
}
.set_area{
	width: 84px;
	height: 26px;
	background: #fff;
	border: 1px solid #797979;
	color:#333333;
	text-align: center;
	line-height: 26px;
	border-radius: 3px;
	float: right;
	cursor: pointer;
}